<html>
{{>head}}
{{>navbar}}

<div class="row">

    <div class="col-8">
    <h1> Totoro</h1>
    <p>el perro mas guapo</p>
    </div>

    <div class="=col-4">
    <img src="assets/img/toto.jpg" class="img-thumbnail">
    </div>
</div>
